.Home {
    color: skyblue;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* USER PROFILE PAGE */
 .card {
   width: 100%;
    margin-top: 50px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    margin-top: 50px;
    height: 200px;
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    margin-top: 250px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.list-group{
  display: flex;
  flex-wrap: wrap;
  // border-style: dashed;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  -webkit-justify-content: space-between;
}

.list-item img:hover{
  opacity: 0.7;
}

.Gallery-Grid{
  text-align: center;
  border-style: dashed;
}

.post-button{
  // position: static;
}

.follower-grid{
    text-align: center;
}

.modal-img{
  width: 1800px;
}

.profile{
  // margin: 10vw;
  // line-height: 20vw;

}

.profile-form{
  position: absolute;
  right: 18vw;
  left: 18vw;
  // margin: 10vw;
  // line-height: 20vw;
}









//bootstrap starts Here


// .body{
//   box-sizing: border-box;
//   -webkit-transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), color 0.3s ease;
//   transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), color 0.3s ease;
// }
.rela-block {
  display: block;
  position: relative;
  margin: auto;
  // top: ;
  // left: ;
  // right: ;
  // bottom: ;
}


.rela-inline {
  display: inline-block;
  position: relative;
  margin: auto;
  // top: ;
  // left: ;
  // right: ;
  // bottom: ;
}
.floated {
  display: inline-block;
  position: relative;
  margin: false;
  // top: ;
  // left: ;
  // right: ;
  // bottom: ;
  float: left;
}
.floated.right {
  float: right;
}
.abs-center {
  display: false;
  position: absolute;
  margin: false;
  top: 50%;
  left: 50%;
  right: false;
  bottom: false;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 95%;
}
.vert-center {
  display: false;
  position: absolute;
  margin: false;
  top: 50%;
  // left: ;
  // right: ;
  // bottom: ;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.horz-center {
  display: false;
  position: absolute;
  margin: false;
  top: false;
  left: 50%;
  right: false;
  bottom: false;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.blurred {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}
.overlay {
  z-index: -1;
  display: false;
  position: fixed;
  margin: false;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  opacity: 0;
}
.overlay.active {
  z-index: 100;
  opacity: 1;
}
.overlay.active .overlay-image {
  opacity: 1;
}
.overlay-card {
  height: 75vh;
  min-height: 400px;
  width: calc(99% - 40px);
  max-width: 1086px;
  padding-left: 0px;
  background-color: #f4f4f4;
  border-radius: 2px;
  overflow: hidden;
}
.overlay-image {
  height: 100%;
  width: 480px;
  opacity: 0;
  -webkit-transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), opacity 0.2s 0.3s ease;
  transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), opacity 0.2s 0.3s ease;
}
.overlay-desc {
  font-family: "Roboto";
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 20px;
  height: calc(100% - 40px);
  margin: 20px;
  border-left: 1px solid #ccc;
  width: calc(100% - 520px);
  padding: 20px 20px 20px 40px;
  overflow-x: hidden;
  overflow-y: auto;
}
.overlay-desc::-webkit-scrollbar {
  width: 6px;
}
.overlay-desc::-webkit-scrollbar-thumb {
  background-color: #999;
}
.post-image {
  height: 100%;
  max-height: 400px;
  width: 480px;
  border: 20px solid #fff;
  box-shadow: 0 4px 8px -2px rgba(0,0,0,0.25);
  background-size: cover !important;
  cursor: pointer;
}
.desc-title {
  font-family: "Montserrat";
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 5px;
}
.desc-author {
  font-family: "Montserrat";
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 24px;
  color: #999;
  margin-bottom: 10px;
}
.close {
  z-index: 100;
  display: false;
  position: absolute;
  margin: false;
  top: 10px;
  // left: ;
  right: 15px;
  // bottom: ;
  font-family: "Montserrat";
  font-size: 24px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;
  color: #444;
  padding: 5px;
}

.containers {
  z-index: 1;
  width: 98%;
  max-width: 1326px;
  padding-top: 180px;
  margin: 0 auto;
}
.profile-card {
  width: calc(100% - 20px);
  padding-top: 100px;
  margin: 20px auto 30px;
  background-color: #fff;
  box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
}
.profile-pic img {
  display: false;
  position: absolute;
  margin: false;
  top: -90px;
  left: 50%;
  right: false;
  bottom: false;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 180px;
  width: 180px;
  border: 10px solid #fff;
  border-radius: 100%;
  background: url("https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAkhAAAAJDFiYjhiOGMxLTY2NWEtNGE1OS1hZGY4LTY1MDIzYjFkNDJiZQ.jpg") center no-repeat;
  background-size: cover;
}
.profile-name-containers {
  margin: 0 auto 5px;
  padding: 10px;
  text-align: center;
}
.user-name {
  font-family: "Montserrat";
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 12px;
}
.user-desc {
  letter-spacing: 1px;
  color: #999;
}
.profile-card-stats {
  height: 75px;
  padding: 10px 0px;
  text-align: center;
  overflow: hidden;
}
.profile-stat {
  height: 100%;
  width: 33.3333%;
}
.profile-stat:after {
  color: #999;
}
.works::after {
  content: "post";
  font-size: 1.5vw;
}
.followers::after {
  content: "favorite";
  font-size: 1.5vw;

}
.following::after {
  content: "setting";
  font-size: 1.5vw;

}
// .image {
//   width: 240px;
//   height: 200px;
//   cursor: pointer;
//   margin: 0 20px 40px;
//   overflow: hidden;
//   border-radius: 5px;
//   border: 10px solid #fff;
//   box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
//   background-color: rgba(0,0,0,0.4);
//   background-size: cover !important;
//   -webkit-transition: 0.2s cubic-bezier(0.5, 0, 0.2, 1);
//   transition: 0.2s cubic-bezier(0.5, 0, 0.2, 1);
// }
// .image:hover {
//   -webkit-transform: scale(1.06);
//           transform: scale(1.06);
//   box-shadow: 0 2px 18px -2px rgba(0,0,0,0.3);
// }
// .image.hidden {
//   height: 0;
//   width: 0px;
//   margin: 0px;
//   border: 0px solid #fff;
// }
.button {
  font-family: 'Montserrat';
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 900;
  line-height: 20px;
  min-width: 200px;
  padding: 20px 40px;
  color: #444;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #bbb;
  margin: 0 20px;
}
.button:hover {
  color: #2ebaae;
  border: 1px solid #2ebaae;
}
.button.inactive {
  color: #bbb;
  cursor: default;
}
.button.inactive:hover {
  color: #bbb;
  border: 1px solid #bbb;
}
// .footer {
//   min-height: 240px;
//   border-top: 1px solid #d6d6d6;
//   background-color: #fff;
//   padding: 30px 40px;
//   text-align: center;
//   overflow: hidden;
// }
@media screen and (max-width: 1300px) {
  .containers {
    max-width: 900px;
  }
  .overlay-card {
    max-width: 803px;
    padding: 0;
  }
  .overlay-image {
    height: 68%;
    width: 100%;
  }
  .overlay-desc {
    width: 100%;
    height: 32%;
    margin: 0;
    padding: 20px 40px;
  }
}
@media screen and (max-width: 1000px) {
  .containers {
    max-width: 1000px;
  }
  .overlay-card {
    max-width: 522px;
    min-width: 310px;
  }
  .overlay-image {
    width: 100%;
    height: 55%;
    max-height: 1000px;
    margin: 0;
  }
  .post-image {
    width: 396px;
    height: 330px;
    border: 0px solid #fff;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    background-size: contain !important;
  }
  .overlay-desc {
    width: 100%;
    height: 45%;
    padding: 20px;
  }
  .nav-links {
    width: 0px;
  }
  .menu-background {
    left: 8%;
  }
  .menu-card {
    left: 2px;
    height: 360px;
  }
  .menu-content .sub-nav-links {
    height: 164px;
    border-bottom: 1px solid #ccc;
  }
}
@media screen and (max-width: 630px) {
  .image {
    width: calc(100% - 40px);
    height: 0px;
    padding-bottom: 60%;
  }
  .menu-content .sign-links {
    height: 64px;
    border-top: 1px solid #ccc;
  }
  .menu-card {
    height: 425px;
  }
  .sign-div {
    width: 0px;
  }
  .nav-search.active {
    -webkit-transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1);
    transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1);
  }
}
@media screen and (max-width: 550px) {
  .overlay-card {
    height: 500px;
  }
  .post-image {
    width: 80%;
    max-width: 288px;
    height: 240px;
  }
  .overlay-desc {
    padding: 14px;
  }
  .profile-card-stats {
    height: 0;
    padding: 0px;
  }
  .profile-pic {
    height: 140px;
    width: 140px;
    top: -70px;
  }
  .profile-card {
    padding-top: 70px;
    margin: 50px auto 30px;
  }
}


.reduxform{
  position: relative;
}
